{% extends 'base.html.twig' %}

{% block title book.title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <h1>{{ book.title }}</h1>
            </div>

        </div>

        <nav class="nav nav-tabs" id="tab"></nav>
        <div class="col-md-4">
           <p>{{ book.genreType }}</p>
        </div>
        <nav class="nav nav-tabs" id="tab"></nav>

        <p>
            {{ book.description }}
        </p>
        {% if app.user %}
            <a class="btn btn-primary" href="{{ '/library' }}" style="color: white; text-decoration: none">Retour</a>
        {% else %}
        <a class="btn btn-primary" href="{{ '/' }}" style="color: white; text-decoration: none">Retour</a>
        {% endif %}


    </div>
{% endblock %}
